# Rust often needs a bit of extra stack space (the default is 3K)
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8000

# Use this to set FreeRTOS kernel tick frequency to 1000 Hz (100 Hz by default).
# This allows to use 1 ms granuality for thread sleeps (10 ms by default).
CONFIG_FREERTOS_HZ=1000

# Workaround for https://github.com/espressif/esp-idf/issues/7631
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=n
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=n

# PSRAM support for camera
CONFIG_SPIRAM=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_ESP32_SPIRAM_SUPPORT=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y


# Camera module support
CONFIG_CAMERA_MODULE_ESP_EYE=y
CONFIG_CAMERA_MODULE_ESP32S3_EYE=y

#CONFIG_CAMERA_JPEG_MODE_FRAME_SIZE_AUTO=n
CONFIG_CAMERA_JPEG_MODE_FRAME_SIZE=2457600
CONFIG_CAMERA_JPEG_MODE_FRAME_SIZE_CUSTOM=y

CONFIG_CAMERA_PSRAM_DMA=n

# Increase partition size for larger binaries
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
#CONFIG_PARTITION_TABLE_CUSTOM=y
#CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# Enable networking
CONFIG_LWIP_DHCP_MAX_NTP_SERVERS=3
CONFIG_LWIP_SNTP_UPDATE_DELAY=86400000

# SD Card support
CONFIG_FATFS_LONG_FILENAMES=y
CONFIG_FATFS_LFN_HEAP=y
